.AboutUsPage .image{
    border-radius: 0px 50px 0px 50px;
    filter: grayscale(100%);
    min-height: 45vh;
    max-height: 80vh;
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat; 
    /* background-image:url('https://res.cloudinary.com/dt9pviq34/image/upload/v1731925182/PlayUp/gnqk0s9zvdwaf6qiw8fm.jpg'); */
}