.EventCard .date {

    font-family: "Radio Canada", sans-serif;
    font-weight: 300;
    font-size: 14px;

    text-align: right;  
  
    color: #8591ad;

}

@media (max-width: 576px) {
    .EventCard .date {
        text-align: left;  
    }
  }
  