.Footer {

    border-top: 1px solid #3571fe;
    padding: 40px 24px 24px 24px;
    margin-top: 8px;

    display: flex;
    flex-direction: column;
    
}

@media (max-width: 768px) { 
    .Footer{
        border-top: 1px solid #3571fe;
        padding: 24px 16px 16px 16px;
        margin-top: 8px;
    
        display: flex;
        flex-direction: column;
    }
 }