.GameCard .card {
    background-color: #0c0418;
    border: 1px solid #3571fe67;
    color: #ffffff;
    border-radius: 16px 50px 16px 50px;
}

.p-custom {
    padding: 16px;
}

.badge{
    width: fit-content;
}


.GameCard img {
    margin: 16px 0px;
}

.GameCard .h5 {
    font-size: 2rem;
    margin-bottom: 16px;
}


.GameCard .card:hover {
    background-color: #3571fe;
    border: 1px solid #3571fe67;
    color: #ffffff;
    border-radius: 16px 50px 16px 50px;
}

.GameCard .card:hover img {
    filter: grayscale(100%);
    scale: 150%;
}

.GameCard .card:hover .h5 {
    color: #0c0418;
    font-size: 3rem;
}

.GameCard .card:hover a {
    color: #0c0418;
}

.GameCard .card:hover .btn-custom-transparent {
    background-color: transparent;
    color: #ffffff;
}


.GameCard .card:hover .btn-custom-secondary-outline {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.GameCard .card:hover .bg-badge-outline-primary{
    border: 1px solid #ffffff;
    color: #ffffff;
  }