body {
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: #06020b;
  color: #c2c8d6;
}

hr {
  border-top: 1px solid #3571fe;
  opacity: .7;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", serif;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
}

.wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

.full-heigth-min{
  min-height: 80vh;
}

.g24 {
  gap: 24px;
}

.fit-content {
  width: fit-content;
}

.bg-custom-dark {
  background-color: #17082e;
}

.bg-badge-outline-primary {
  border: 1px solid #31293d;
  color: #8591ad;
}

.bg-badge-outline-secondary {
  border: 1px solid #3571fe;
  color: #8591ad;
}

.selected {
  color: #3571fe !important;
  font-weight: 500;
}

.btn-custom-transparent {
  background-color: transparent;
  color: #3571fe;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.btn-custom-transparent:hover {
  color: #6794fe;
}

.btn-custom-primary {
  background-color: #3571fe;
  color: #ffffff;
}

.btn-custom-primary:hover {
  background-color: hsl(222, 99%, 40%);
  color: #ffffff;
}

.btn-custom-error {
  background-color: hsl(0, 40%, 70%);
}

.btn-custom-secondary-outline {
  border: 1px solid #8591ad;
  color: #8591ad;
}

.btn-custom-secondary-outline:hover {
  border: 1px solid #8591ad;
  background-color: #8591ad8e;
  color: #ffffff;
}

.btn-close {
  background-color: #8591ad;
}

.btn-close:hover {
  background-color: #3d465c;
}

.delete-btn {
  height: 100%;
}

.form-control  {
  background-color: #292f3d;
  border: none;
  color: #ffffff;
}

.form-control:focus {
  color: #ffffff;
  background-color: #292f3d;
  border-color: #9ab8fe;
  outline: 0;
  box-shadow: 0 0 0 .05rem #9ab8fe;
}

.form-label {
  color: #ffffff;
}

.form-text {
  color: #8591ad !important;
}

.form-check-label {
  color: #8591ad;

}

.form-control::placeholder {

  color: #8591ad;
  font-size: small;

}

.vertical-form {
  display: flex;
  flex-direction: column;
}

.css-13cymwt-control {
  background-color: #292f3d !important;
  border: none;
  color: #ffffff !important;
}

.css-t3ipsp-control {
  color: #ffffff !important;
  background-color: #292f3d !important;
  border-color: #9ab8fe;
  outline: 0;
  box-shadow: 0 0 0 .05rem #9ab8fe;
}

.card {
  background-color: #0c0418;
  border: 1px solid #3571fe67;
  color: #ffffff;
  border-radius: 0px 50px 0px 50px;
}

.card-text {
  color: #c2c8d6;
}

.card-subtitle {
  font-family: "Radio Canada", sans-serif;
  font-weight: 500;
  color: #ffffff;
}

.card-link {
  color: #c2c8d6;
  text-decoration: none;
}

.card-link:hover {
  color: #9ab8fe;
  text-decoration: none;
}

.card-footer,
.card-footer:last-child {
  padding: 12px;
  background-color: #292f3d9b;
  border-radius: 2px 2px 2px 24px;
}

.label {
  color: #8591ad;
  font-size: 0.95rem;
}

.p-custom {
  padding: 16px;
}

.offcanvas {
  background-color: hsl(222, 99%, 7%);
  width: 20vw;
}

.offcanvas-backdrop {
  background-color: #06020b;
  color: #ffffff;
}

.offcanvas-backdrop.show {
  opacity: .7;
}

.offcanvas-title {
  font-size: 2rem;
  color: #3571fe;
}

@media (max-width: 576px) {
  .offcanvas.offcanvas-end {
    width: 95vw;
  }
}

@media (min-width: 576px) {
  .offcanvas.offcanvas-end {
    width: 70vw;
  }
}

@media (min-width: 992px) {
  .offcanvas.offcanvas-end {
    width: 45vw;
  }
}

.toast {
  background-color: #3571fe;
  position: absolute;
  bottom: 24px;
  left: 40px;
  width: 50vw;
  z-index: 1400;
}

.toast-header {
  background-color: transparent;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.1rem;
}

.toast-header .btn-close {
  background-color: #ffffff;
}

.toast-body {
  color: #06020b;
  font-size: 1rem;
}

.modal-content{
  background-color: hsl(222, 99%, 7%);
  border: 1px solid #3571fe;
}

.modal-backdrop .show{
  opacity: .7;
}

.modal-header{
  border-bottom: none;
}

.modal-footer{
  border-top: none;
}
