body {
  font-family: "Radio Canada", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: #06020b;
  color: #f5faf3;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", serif;
  font-weight: 700;
  font-style: normal;
}

/* .align-items-stretch {
  display: flex;
  align-items: stretch;
} */

.wrap{
  flex-direction: row;
  flex-wrap: wrap;
}

.g24{
  gap: 24px;
}

.bg-custom-dark {
  background-color: #17082e;
}


.selected {
  color: #3571fe !important;
  font-weight: 500;
}

.btn-custom-transparent{
  background-color: transparent;
  color: #3571fe;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.btn-custom-primary{
  background-color: #3571fe ;
}

.btn-custom-error{
  background-color: hsl(0, 40%, 70%) ;
}

.btn-custom-secondary-outline{
  /* background-color: hsl(222, 10%, 60%) ; */
  border: 1px solid #8591ad;
  color: #8591ad;
}

.bg-badge-outline-primary{
  border: 1px solid #31293d;
  color: #8591ad;
}

.form-control{

  background-color: #292f3d;
  border: none;

}

.form-control::placeholder{

  color: #ffffff;

}